
doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1, minimum-scale=1")
  body
    div#main-content(class="container body-content")
      h1= message
      h2= error.status
      pre #{error.stack}
